.con-favs{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.favs-list{ 
    list-style: none;
    border: 1px solid #023047;
    padding: 2%;
    margin: 2%;
    background-color: #fafccbcb;
}

.favList-name{
    font-size: 20px;
    font-weight: 500;
    padding: 1%;
    width: 40%;
    margin: 13% auto 3%;
    background-color: #023047;
}


a{
    text-decoration: none;
    color: #023047;
    font-size: 17px;
    font-weight: 500;
}

@media (max-width: 1024px) and (min-width: 900px) {
    .con-favs{
        width: 60%;
    }
}


@media (max-width: 899px) and (min-width: 750px) {
    .con-favs{
        width: 50%;
    }
}

@media (max-width: 749px) and (min-width: 350px) {
    .con-favs{
        width: 50%;
    }
}

@media (max-width: 349px) {
    .con-favs{
        width: 80%;
    }
    .favs-list{ 
        margin: 2% auto;
        padding: 0;
    }
}