.movie-item {
    padding: 20px;
    background-color: #FFEEDB;
    display: flex;
    width: 87%;
    margin: 2% 0;
    transition: all 0.2s linear;

}

.movie-item__poster {
    height: 10rem;
    margin-right: 21px;
    transition: all 0.2s linear;

}

.movie-item__title {
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 14px;
}

.movie-item__add-button {
    border: none;
    background-color: #496DDB;
    padding: 10px 15px;
    color: #FFEEDB;
    font-size: 14px;
    transition: all 0.2s linear;
}

.movie-item__add-button:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.2s linear;
} 

@media (max-width: 1024px) and (min-width: 900px) {
    .movie-item__title {
        font-weight: 500;
        font-size: 18px;
    }

    .movie-item__poster {
        height: 8rem;
    }

    .movie-item {
        padding: 15px;
        width: 85%;
    }
 
    .movie-item__add-button {
       
        padding: 7px 13px;
        font-size: 13px;
    }
}

@media (max-width: 899px) and (min-width: 750px) {
    .movie-item__title {
        font-weight: 500;
        font-size: 18px;
        background-color: aquamarine;
    }

    .movie-item__poster {
        height: 8rem;
    }

    .movie-item {
        padding: 15px;
        width: 85%;
    }
 
    .movie-item__add-button {
       
        padding: 7px 13px;
        font-size: 13px;
    }
}